/* 定义 */
:root {
    --one-light-fg: #494b53;
    --one-light-bg: #f0f0f0;
    --one-light-blue: #4078F2;
    --one-light-orange: #c18401;
    --one-light-pink: #CA1243;
    --one-light-gray: #A0A1A7;
    --one-light-purple: #A626A4;

    --page-width: 1000px;
    --max-image-width: 900px;
    --max-quote-width: 800px;
    --min-table-width: 900px;
    --max-table-width: 980px;
    
    --bg-culor: var(--one-light-bg);
    --text-culor: var(--one-light-fg);
    --link-content: var(--one-light-purple);
    --link-hover: var(--one-light-blue);
    --quote-bg-color: var(--one-light-gray);
    --inline-code-bg-color: #f5f5f5;
}

/* 全局设置 */
html {
    font-size: 1.125rem;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0px;
}
body a {
    text-decoration: none;
    
}
body a:visited{
    color: var(--text-color)
}
body a:link{
    color:var(--text-color)
}
body a:hover{
    color: var(--link-hover)
}
body a:active{
    color: var(--link-hover)
}

body h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    margin: 1rem 0 0.5rem 0;
}
/* 页面设置 */

body{
    margin: 0;
}

.main{
    margin: 0 auto;
    width: var(--page-width);
}


/* 页眉 */
.header {
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    width: var(--page-width);
    display: flex;
    background-color: var(--bg-color);
}

.header .home-page {
    width: 400px;
    font-size: 1.5rem;
    text-align: left;
    text-indent: 2rem;
    letter-spacing: 0.1rem;
    flex: 1;
}

.header .nav {
    display: inline;
    width: 400px;
    font-size: 1.25rem;
    text-align: right;
    margin-right: 2rem;
}

.header .nav .item {
    flex: 1;
    text-align: right;
    margin-right: 0;
    margin-left: 1rem;
}

.header a {
    font-family: sans-serif;
}

/* 页尾 */
.footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer center {
    color: var(--one-light-gray);
}

/* CONTENT */
#content {
    padding: 1rem 1rem;
    min-height: 600px;
}
#content .title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
}

/* Home */
#preamble .index-desc {
    font-family: serif;
    font-size: 1rem;
    padding: 2rem 0;
}

#content .post-item {
    padding-bottom: 2rem;
}

#content .post-item a:visited{
    color: var(--text-color)
}
#content .post-item a:link{
    color:var(--text-color)
}
#content .post-item a:hover{
    color: var(--link-hover)
}
#content .post-item a:active{
    color: var(--link-hover)
}

#content h2.post-title {
    font-size: 1.2rem;
}

#content .post-title {
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 0;
}

#content .post-item > p {
    padding-bottom: 0.5rem;
    margin: 0;
}

#content .post-info {
    display: flex;
}

#content .post-date {
    color: var(--one-light-gray);
}

#content .taglist {
    margin-right: auto;
}

#content .taglist a {
    margin: 0 0.25rem ;
}

/* Tag */
#content .tag-item {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    display: inline-block;
}

#content .tag-item sup {
    color: var(--one-light-gray);
    text-decoration: none;
}

#content a.tag-item:visited{
    color: var(--text-color);
}
#content a.tag-item:link{
    color:var(--text-color);
}
#content a.tag-item:hover{
    color: var(--link-hover);
}
#content a.tag-item:active{
    color:var(--link-hover);
}

/* Tag Post */
#content .summary-item {
    display: flex;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

#content .summary-title {
    font-size: 1.1rem;
}

#content .summary-date {
    color: var(--one-light-gray);
    margin-left: auto;
    margin-right: 2rem;
}

#content .summary-item a:visited{
    color: var(--text-color);
}
#content .summary-item a:link{
    color:var(--text-color);
}
#content .summary-item a:hover{
    color: var(--link-hover);
}
#content .summary-item a:active{
    color:var(--link-hover);
}

/* Post */
#preamble > .post-title {
    text-align: center;
    font-size: 1.7rem;
}

#preamble > .post-date {
    color: var(--one-light-gray);
    text-align: center;
}

#preamble > .taglist {
    text-align: center;
    padding: 0.5rem 0;
}

#content {
    padding: 1rem 1rem;
}

#content p {
    margin: 0 0 1rem 0;
    padding:  0 0.5rem;
}

#content p.quote-source {
    margin: 0 auto;
    text-align: right;
    padding-right: 1rem;
    font-style: italic;
}


/* Figure */
#content figure {
    text-align: center;
}

#content img {
    max-width: var(--max-image-width);
    cursor: pointer;
}

#content figcaption {
    color: var(--one-light-gray);
    font-size: 0.9rem;
    padding: 0.3rem 0 0.15rem 0;
}


/* org center */
#content .org-center {
    text-align: center;
}

#content blockquote {
    margin: 1rem auto;
    margin-top: 0;
    background-color: var(--bg-color);
    border: solid 2px #757575;
    display: block;
    padding: 1rem 1.5rem;
    color: var(--one-light-gray);
    border-radius: 15px;
    font-size: 0.9rem;
    font-style: italic;
}

#content blockquote cite {
      display: block;
      font-style: italic;
      text-align: right;
}


/* List */
#content .org-ul, .org-ol {
    margin: 0 0 1rem 0;
    /* margin: 0; */
    padding-left: 1rem;
    list-style: none;
}

#content .org-ul li, .org-ol li {
    padding-bottom: 0.25rem;
}

#content .org-ul li::before,.org-ol li::before{
    color: var(--one-light-blue);
    font-weight: bold;
    margin-right: 0.25rem;
}

#content .org-ul li::before {
    content: "\2022";
}

#content .org-ol {
    counter-reset: item;
}


#content .org-ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
}

/* hyperlink */
/* TODO: use a.content-link */
#content a:visited{
    color: var(--one-light-pink);
}
#content a:link{
    color:var(--one-light-pink);
}
#content a:hover{
    color: var(--link-hover);
}
#content a:active{
    color:var(--link-hover);
}

/* Code */
#content p code {
    color: var(--one-light-orange);
    background-color: var(--inline-code-bg-color);
    padding: 0 0.3rem;
}

#content li code {
    color: var(--one-light-orange);
    background-color: var(--inline-code-bg-color);
    padding: 0 0.3rem;
}

#content pre code {
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 1rem 1rem 1rem 1rem;
}

#content pre .header {
    border: 2px solid #282a36;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 0 0 0.2rem 1rem;
    font-size: 0.9rem;
    font-family: monospace;
    display: flex;
}

#content pre .header .language {
    width: 100%;
}

#content pre .header .copy {
    margin-right: 1rem;
}


/* Footnote */
#footnotes {
    padding-top: 1rem;
}

#footnotes li {
    color: var(--one-light-gray);
}


/* Table */
#content table {
    margin: 0 auto 1rem auto;
    border-top: medium solid var(--one-light-fg);
    border-bottom: medium solid var(--one-light-fg);
    min-width: var(--min-table-width);
    max-width: var(--max-table-width);
    text-align: center;
    border-collapse: collapse;
}

#content table tr:first-child {
    border-bottom: thin solid var(--one-light-fg);
    font-weight: bold;
}

#content table tr td {
    padding: 0.2rem 0.5rem;
}

#content table tr:first-child td {
    padding: 0.3rem 0.5rem;
}

#content caption {
    color: var(--one-light-gray);
    padding: 0.15rem 0 0.3rem;
    font-size: 0.9rem;
}


/* Mermaid */
#content .mermaid {
    margin-bottom 1rem;
    text-align: center;
}


/* TOC */
#preamble .toc {
    max-width: 300px;
    width: 300px;
    visibility: visible;
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto; 
    position: fixed;
    left: 60px;
    top: 60px;
    font-size: 0.9rem;
}

@media only screen and (max-width: 1400px) {
    #preamble .toc {
        display: none;
    }
}

#preamble .toc ul {
    margin: 0.25rem 0;
    padding-left: 0.5rem;
    list-style: none;
}

#preamble .toc ul li {
    margin: 0.25rem 0;
}

#TableOfContents > ul li:before {
    font-weight: bold;
    margin-right: 0.25rem;
    content: "\2022";
}
#TableOfContents > ul > li:before {
    color: var(--one-light-pink);
}

#TableOfContents > ul > li > ul > li:before {
    color: var(--one-light-blue);
}

#TableOfContents > ul > li > ul > li > ul > li:before {
    color: var(--one-light-orange);    
}


/* Math */
.katex {
    font-size: 1.125rem;
}
