/* Style for blog */
html body {
  font-size: 1.125em;
  font-family: serif;
  color: #f8f8f2;
  background-color: #282a36;
  margin: 0; }
  html body a {
    text-decoration: none; }
    html body a:visited {
      color: #f8f8f2; }
    html body a:link {
      color: #f8f8f2; }
    html body a:hover {
      color: #bd93f9; }
    html body a:active {
      color: #bd93f9; }
  html body h1,
  html body h2,
  html body h3,
  html body h4,
  html body h5,
  html body h6 {
    font-family: sans-serif;
    margin: 1rem 0 0.5rem 0; }
  html body h1 {
    color: #f8f8f2; }
  html body h2 {
    color: #ff79c6; }
  html body h3 {
    color: #bd93f9; }
  html body h4 {
    color: #50fa7b; }
  html body h5 {
    color: #f1fa8c; }
  html body #header {
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    display: flex;
    background-color: #1e1f29;
    position: sticky;
    top: 0;
    z-index: 1; }
    html body #header a {
      font-family: sans-serif; }
    html body #header .home-page {
      width: 400px;
      font-size: 1.5rem;
      text-align: left;
      text-indent: 2rem;
      letter-spacing: 0.1rem;
      flex: 1; }
    html body #header .nav {
      display: inline;
      width: 400px;
      font-size: 1.25rem;
      text-align: right;
      margin-right: 2rem; }
      html body #header .nav .item {
        flex: 1;
        text-align: right;
        margin-right: 0;
        margin-left: 1rem; }
  html body #main .post-date {
    color: #6272a4; }
  html body #main #toc {
    width: 200px;
    padding: 20px;
    position: sticky;
    float: left;
    left: 0;
    top: 6em;
    font-size: 0.8em; }
    html body #main #toc ul {
      margin: 0.25rem 0;
      padding-left: 0.5rem; }
      html body #main #toc ul li {
        margin: 0.25rem 0; }
    html body #main #toc #TableOfContents {
      white-space: nowrap;
      overflow: scroll;
      max-height: 30em;
      background-color: #44475a;
      /* No Scroll Bar */
      scrollbar-width: none;
      /* For Firefox */
      -ms-overflow-style: none;
      /* For Internet Explorer and Edge */ }
      html body #main #toc #TableOfContents::-webkit-scrollbar {
        width: 0px;
        /* For Chrome, Safari, and Opera */ }
  @media only screen and (max-width: 1300px) {
    html body #main #toc {
      display: none; } }
  html body #main #page {
    width: 1000px;
    margin: 0 auto; }
    html body #main #page #preamble .post-title {
      text-align: center;
      font-size: 1.7rem; }
    html body #main #page #preamble .post-date {
      text-align: center; }
    html body #main #page #preamble .taglist {
      text-align: center;
      padding: 0.5rem 0; }
    html body #main #page #preamble .index-desc {
      font-family: serif;
      font-size: 1rem;
      padding: 2rem 0; }
    html body #main #page #content {
      padding: 1em;
      border: 1px solid #f8f8f2; }
      html body #main #page #content .title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        margin: 0;
        text-align: center; }
      html body #main #page #content .post-title {
        font-size: 1.5rem;
        padding: 1rem 0;
        margin: 0; }
      html body #main #page #content .post-item {
        padding-bottom: 2rem; }
        html body #main #page #content .post-item .post-info {
          display: flex; }
        html body #main #page #content .post-item a:visited {
          color: #f8f8f2; }
        html body #main #page #content .post-item a:link {
          color: #f8f8f2; }
        html body #main #page #content .post-item a:hover {
          color: #bd93f9; }
        html body #main #page #content .post-item a:active {
          color: #bd93f9; }
        html body #main #page #content .post-item > p {
          padding-bottom: 0.5rem;
          margin: 0; }
      html body #main #page #content .taglist {
        margin-right: auto; }
        html body #main #page #content .taglist a {
          margin: 0 0.25rem; }
      html body #main #page #content .tag-item {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        padding-right: 0.5rem;
        display: inline-block; }
        html body #main #page #content .tag-item sup {
          color: #6272a4;
          text-decoration: none; }
        html body #main #page #content .tag-item a:visited {
          color: #f8f8f2; }
        html body #main #page #content .tag-item a:link {
          color: #f8f8f2; }
        html body #main #page #content .tag-item a:hover {
          color: #bd93f9; }
        html body #main #page #content .tag-item a:active {
          color: #bd93f9; }
      html body #main #page #content .summary-item {
        display: flex;
        margin-left: 2rem;
        padding-bottom: 0.5rem; }
        html body #main #page #content .summary-item summary-title {
          font-size: 1.1rem; }
        html body #main #page #content .summary-item .summary-date {
          color: #6272a4;
          margin-left: auto;
          margin-right: 2rem; }
        html body #main #page #content .summary-item a:visited {
          color: #f8f8f2; }
        html body #main #page #content .summary-item a:link {
          color: #f8f8f2; }
        html body #main #page #content .summary-item a:hover {
          color: #bd93f9; }
        html body #main #page #content .summary-item a:active {
          color: #bd93f9; }
      html body #main #page #content p {
        margin: 0 0 0.5rem 0; }
      html body #main #page #content figure {
        text-align: center; }
      html body #main #page #content img {
        max-width: 900px;
        cursor: pointer; }
      html body #main #page #content figcaption {
        color: #6272a4;
        font-size: 0.9rem;
        padding: 0.3rem 0 0.15rem 0; }
      html body #main #page #content .org-center {
        text-align: center; }
      html body #main #page #content blockquote {
        margin: 1rem auto;
        margin-top: 0;
        background-color: #44475a;
        display: block;
        padding: 1rem 1.5rem;
        color: #f1fa8c;
        border-radius: 15px;
        font-size: 0.9rem; }
        html body #main #page #content blockquote cite {
          display: block;
          font-style: italic;
          text-align: right; }
        html body #main #page #content blockquote .quote-source {
          margin: 0 auto;
          text-align: right;
          padding-right: 1rem;
          font-style: italic; }
      html body #main #page #content .org-ul,
      html body #main #page #content .org-ol {
        margin: 0;
        padding-left: 1rem;
        list-style: none; }
        html body #main #page #content .org-ul li,
        html body #main #page #content .org-ol li {
          padding-bottom: 0.25rem; }
          html body #main #page #content .org-ul li::before,
          html body #main #page #content .org-ol li::before {
            color: #8be9fd;
            font-weight: bold;
            margin-right: 0.25rem; }
      html body #main #page #content .org-ul li::before {
        content: "\2219"; }
      html body #main #page #content .org-ol {
        counter-reset: item; }
        html body #main #page #content .org-ol li::before {
          content: counter(item) ". ";
          counter-increment: item; }
      html body #main #page #content a {
        color: #8be9fd; }
        html body #main #page #content a:visited {
          color: #8be9fd; }
        html body #main #page #content a:link {
          color: #8be9fd; }
        html body #main #page #content a:hover {
          color: #bd93f9; }
        html body #main #page #content a:active {
          color: #bd93f9; }
      html body #main #page #content p code,
      html body #main #page #content li code {
        color: #ffb86c;
        padding: 0 0.3rem; }
      html body #main #page #content pre {
        padding: 1em;
        border: 5px solid #44475a;
        border-radius: 10px;
        overflow-x: auto; }
        html body #main #page #content pre code {
          border-radius: 10px;
          font-size: 0.9rem;
          padding: 1rem 1rem 1rem 1rem; }
        html body #main #page #content pre .header {
          border: 2px solid #44475a;
          border-bottom: 0;
          border-radius: 10px 10px 0 0;
          padding: 0 0 0.2rem 1rem;
          font-size: 0.9rem;
          font-family: monospace;
          display: flex; }
          html body #main #page #content pre .header .language {
            width: 100%; }
          html body #main #page #content pre .header .copy {
            margin-right: 1rem; }
      html body #main #page #content #footnotes {
        padding-top: 1rem; }
        html body #main #page #content #footnotes li {
          color: #6272a4; }
      html body #main #page #content table {
        margin: 0 auto 1rem auto;
        border-top: medium solid #f8f8f2;
        border-bottom: medium solid #f8f8f2;
        min-width: 900px;
        max-width: 980px;
        text-align: center;
        border-collapse: collapse; }
        html body #main #page #content table thead {
          border-bottom: thin solid #f8f8f2;
          font-weight: bold; }
        html body #main #page #content table tr td {
          padding: 0.2rem 0.5rem; }
      html body #main #page #content caption {
        color: #6272a4;
        padding: 0.15rem 0 0.3rem;
        font-size: 0.9rem; }
      html body #main #page #content .mermaid {
        margin-bottom: 1rem;
        text-align: center; }
      html body #main #page #content .katex {
        font-size: 1em !important; }
      html body #main #page #content .mathblock {
        margin-bottom: 1rem;
        font-size: 1rem !important; }
        html body #main #page #content .mathblock.title {
          font-weight: bold;
          font-family: serif;
          font-size: 1rem !important;
          color: #f1fa8c; }
        html body #main #page #content .mathblock.proof span.mathblock {
          color: #ffb86c; }
          html body #main #page #content .mathblock.proof span.mathblock.title {
            font-weight: normal;
            font-style: italic; }
          html body #main #page #content .mathblock.proof span.mathblock.name {
            font-weight: normal;
            font-style: normal; }
        html body #main #page #content .mathblock.proof .QED {
          float: right; }
  html body #footer {
    padding-top: 2rem;
    padding-bottom: 1rem; }
    html body #footer center {
      color: #6272a4; }
